.add-form__input {
  margin-bottom: 30px;
  padding: 0px 0px 10px 0px;
}

.add-form__input:last-child {
  margin-bottom: 0px;
}

.add-form__button-close {
  width: 40px;
  height: 40px;
  top: -40px;
  right: -40px;
}

@media screen and (width <= 633px) {
  .add-modal__container {
    padding: 25px 22px;
  }
  .add-form__button-close {
    top: calc(-40px + -13px);
    right: 3px;
    height: 26px;
    width: 26px;
  }
  .add-form__input {
    padding-bottom: 6px;
  }
}
