.card {
  color: #000;
  border-radius: 10px;
  overflow: hidden;
  object-fit: contain;
  object-position: center;
}

.card__img {
  display: block;
  width: 282px;
  height: 282px;
}

.card__description {
  background-color: #fff;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 21px);
}

.card__heart {
  width: 21px;
  height: 18px;
  background-color: transparent;
  border: none;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.card__heart:hover {
  opacity: 0.5;
}
