/* common X button styles */
.cross {
  position: absolute;
  background: no-repeat url("../images/close-icon.svg");
  background-color: transparent;
  background-position: center;
  transition: opacity 0.3s ease-in;
  border: none;
  padding: 0px;
}

.cross:hover {
  opacity: 0.6;
}
