.image-modal__container {
  position: relative;
}

.image-modal__img {
  display: block;
  max-width: 75vw;
  max-height: 75vh;
}

.image-modal__title {
  display: block;
  margin: 10px 0px 0px 0px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.image-modal__button-close {
  width: 40px;
  height: 40px;
  top: -44px;
  right: -44px;
}

@media screen and (width <= 633px) {
  .image-modal__button-close {
    height: 30px;
    width: 30px;
    top: -34px;
    right: -34px;
  }
}
