/* common modal properties */
.modal {
  position: fixed;
  display: flex;
  place-content: center;
  place-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 19px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.5s linear;
}

.modal_opened {
  display: flex;
  place-content: center;
  visibility: visible;
  opacity: 1;
}

.modal__header {
  margin: 0px 0px 54px 0px;
  font-family: "Inter", Arial, Helvetica;
  font-weight: 900;
  font-size: 24px;
  line-height: calc(29 / 24);
}

.modal__container {
  flex-basis: 430px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  padding: 34px 36px 36px 36px;
  position: relative;
}

@media screen and (width <= 633px) {
  .modal__header {
    font-size: 18px;
    margin-bottom: 75px;
  }
  .modal__container {
    padding: 25px 22px;
  }
}
