/* common modal properties */

.modal_opened {
  display: flex;
  place-content: center;
  visibility: visible;
  opacity: 1;
}

.modal__header {
  margin: 0px 0px 54px 0px;
  font-family: "Inter", Arial, Helvetica;
  font-weight: 900;
  font-size: 24px;
  line-height: calc(29 / 24);
}

.modal__container {
  flex-basis: 430px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  padding: 34px 36px 36px 36px;
  position: relative;
}

@media screen and (width <= 633px) {
  .modal__header {
    font-size: 18px;
    margin-bottom: 75px;
  }
}
