.page {
  background-color: black;
  color: #fff;
  margin: 0 auto;
  min-height: 100vh;
}

.page__content {
  max-width: 880px;
  width: calc(100% - 38px);
  margin: 0 auto;
}

@media screen and (width <= 633px) {
  .page__content {
    width: 100%;
  }
}
