.profile-modal__input {
  padding: 0px 0px 13px 0px;
}

.profile-modal__input:first-child {
  margin-bottom: 30px;
}

.profile-modal__close-btn {
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
}

@media screen and (width <= 633px) {
  .profile-modal__container {
    padding: 25px 22px;
  }
  .profile-modal__fieldset {
    margin-bottom: 45px;
  }
  .profile-modal__save-btn {
    height: 46px;
  }
  .profile-modal__close-btn {
    top: -53px;
    right: 5px;
  }
}
