.profile {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile__avatar {
  object-fit: contain;
  object-position: center;
  max-width: 120px;
  max-height: 120px;
  margin-right: 30px;
  border-radius: 50%;
}

.profile__info {
  margin: 0px;
}

.profile__name-edit-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profile__name {
  margin-top: 0px;
  margin-bottom: 7px;
  white-space: nowrap;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: calc(48 / 42);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 375px;
}

.profile__avocation {
  margin: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-left: 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 415px;
}

.profile__edit-button {
  margin-left: 18px;
  width: 24px;
  height: 24px;
  padding: 0px;
  background-image: url("../images/edit-profile.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  background-color: transparent;
  border: 1px solid #fff;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  background-color: transparent;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
  border: 2px solid #fff;
  width: 150px;
  height: 50px;
  margin-left: auto;
  transition: opacity 0.2s ease-in-out;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

/* if you hav */
@media screen and (634px <= width <= 932px) {
  .profile__name {
    font-size: 32px;
  }
  .profile__avocation {
    font-size: 16px;
  }
  .profile__edit-button {
    height: 21px;
    width: 21px;
    background-size: 8.75px;
  }
  .profile__add-button {
    margin-left: 40px;
    width: 131.25px;
    height: 43.75px;
    background-size: 16px;
  }
}

@media screen and (width <= 633px) {
  .profile {
    flex-direction: column;
    width: calc(100% - 38px);
    margin-left: auto;
    margin-right: auto;
  }

  .profile__name-edit-section {
    margin-bottom: 14px;
  }
  .profile__name {
    font-size: 22px;
    margin-bottom: 0px;
    max-width: 200px;
  }
  .profile__avocation {
    font-size: 14px;
    text-align: center;
    max-width: 280px;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
    background-size: 7.5px 7.5px;
  }
  .profile__add-button {
    margin-top: 36px;
    width: 282px;
    background-size: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .profile__avatar {
    margin-bottom: 30px;
    margin-right: 0px;
  }
}
