.submit {
  height: 50px;
  width: 100%;
  border: none;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  background-color: black;
  color: white;
  font-weight: 400;
  border-radius: 2px;
  transition: opacity 0.15s ease-in;
  padding: 0px;
}

.submit:hover {
  opacity: 0.8;
}

@media screen and (width <= 633px) {
  .submit {
    font-size: 14px;
  }
}
