.footer__copyright {
  margin: 0px;
  padding-top: 67px;
  padding-bottom: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  color: #545454;
}

@media screen and (634px <= width <= 932px) {
  .footer__copyright {
    font-size: 16px;
    padding-left: 19px;
  }
}

@media screen and (width <= 633px) {
  .footer__copyright {
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 14px;
    padding-left: 19px;
  }
}
