/* common fieldset properties */
.form__fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
}

.form__input {
  border: none;
  outline: none;
  width: 100%;
  height: 27px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "inter", Arial, sans-serif;
  display: block;
  padding: 0px 0px 10px 0px;
  transition: border-bottom 0.2s ease-in-out;
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
}

/* container */
.form__field {
  display: block;
  position: relative;
  font-family: "Inter", Arial, sans-serif;
  overflow: visible;
}

.form__field:first-child {
  margin-bottom: 32px;
}

.form__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.form__input-error {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* position the input error relative to container */
.form__input-error_active {
  visibility: visible;
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  color: #ff0000;
  font-size: 12px;
  opacity: 1;
}

@media screen and (width <= 633px) {
  .form__input {
    padding-bottom: 6px;
  }
  .form__fieldset {
    margin-bottom: 48px;
  }
}
