.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
  padding-top: 45px;
  padding-bottom: 41px;
}

@media screen and (634px <= width <= 932px) {
  .header__logo {
    width: 150px;
    height: 28.5px;
    padding-left: 27px;
  }
}

@media screen and (width <= 633px) {
  .header {
    height: 100%;
    padding-top: 0px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 27px;
    padding-top: 28px;
    padding-bottom: 32px;
  }
}
