/* common modal properties */
.modal {
  position: fixed;
  display: flex;
  place-content: center;
  place-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 19px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.5s linear;
}

.modal_opened {
  display: flex;
  place-content: center;
  visibility: visible;
  opacity: 1;
}

.modal__header {
  margin: 0px 0px 54px 0px;
  font-family: "Inter", Arial, Helvetica;
  font-weight: 900;
  font-size: 24px;
  line-height: calc(29 / 24);
}

.modal__container {
  flex-basis: 430px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  padding: 34px 36px 36px 36px;
  position: relative;
}

.modal__close {
  position: absolute;
  background: no-repeat url("../images/close-icon.svg");
  background-color: transparent;
  background-position: center;
  transition: opacity 0.3s ease-in;
  border: none;
  padding: 0px;
  height: 40px;
  width: 40px;
  top: -40px;
  right: -40px;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__submit {
  height: 50px;
  width: 100%;
  border: none;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  background-color: black;
  color: white;
  font-weight: 400;
  border-radius: 2px;
  transition: opacity 0.15s ease-in;
  padding: 0px;
  margin-top: 48px;
}

.modal__submit:hover {
  opacity: 0.8;
}

.modal__submit:disabled {
  background-color: white;
  border: 1px solid black;
  color: black;
  opacity: 0.2;
}

@media screen and (width <= 633px) {
  .modal__header {
    font-size: 18px;
    margin-bottom: 75px;
  }
  .modal__container {
    padding: 25px 22px;
  }
  .modal__close {
    top: calc(-40px + -13px);
    right: 5px;
    height: 26px;
    width: 26px;
  }
  .modal__submit {
    font-size: 14px;
  }
}
